@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

header {
  height: 10vh;
  display: flex;
  background-color: #F3F3F3;
}

.header-left, .header-right { 
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-left {
  justify-content: flex-start
}

.header-logo {
  font-weight: 700;
  font-size: 20px;
}

.header-right {
  justify-content: flex-end;
}

.header-title {
  color: #FF9900;
  font-size: 20px;
}